/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

/* Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&family=Raleway:wght@800&display=swap");

h1 {
  font-family: "Rubik", sans-serif;
  font-size: var(--space-x-big);
  margin-bottom: var(--space-x-big);
}

h2 {
  font-size: var(--space-big);
}

a {
  color: var(--color-brown);
  text-decoration: none;
}

a:hover {
font-weight: 700;
text-decoration: underline;
  
}