header {
    background-color: var(--color-yellow);
    padding: var(--space-medium);
  }

  .logo {
    width: 70%;
    margin: var(--space-big) auto;
  }

/* Tablets */
@media (min-width: 550px) {
  .logo {
    width: 250px;
    margin: var(--space-big) auto;
  }

}

  /* Desktops */
@media (min-width: 750px) {
}