.OrderConcise .StatusIcon {
  font-size: var(--font-size-big);
  color: var(--color-yellow);
}

.sender {
  font-size: var(--font-size-medium-big);
  font-weight: 700;
  margin-bottom: 0px;
}

.status {
  margin-top: var(--space-small);
  font-size: var(--font-size-medium);
}

.OrderConcise {
  display: grid;
  grid-template-columns: var(--space-x-big) 1fr;
  column-gap: var(--space-big);
  justify-items: start;
  align-items: center;
  margin-bottom: var(--space-medium);
}
