.OrderConcise .StatusIcon {
  font-size: var(--font-size-big);
  color: var(--color-brown);
  padding: var(--space-x-small);
}

.sender {
  font-size: var(--font-size-medium-big);
  font-weight: 700;
  margin-bottom: 0px;
  color: var(--color-black);
}

.OrderConcise .status {
  margin-top: var(--space-small);
  font-size: var(--font-size-medium);
  color: var(--color-brown);
}

.OrderConcise {
  display: grid;
  grid-template-columns: var(--space-x-big) 1fr;
  column-gap: var(--space-big);
  justify-items: start;
  align-items: center;
  margin-bottom: var(--space-medium);
  text-decoration: none;
}

.OrderConcise:hover {
  border: var(--space-x-small) solid var(--color-medium-grey);
  padding-left: var(--space-small);
}
