.ParcelDetailed .StatusIcon {
  font-size: var(--font-size-x-big);
  color: var(--color-brown);
  margin-bottom: var(--space-big);
  text-align: center;
}

.data-label {
  font-size: var(--font-size-medium);
  margin-bottom: 0px;
  color: var(--color-brown);
}

.data-actual {
  font-size: var(--font-size-medium-big);
  font-weight: 700;
  margin-top: var(--space-small);
  margin-bottom: var(--space-big);
}

.ParcelDetailed .status {
  font-size: var(--font-size-medium-big);
  font-weight: 700;
  margin-top: var(--space-small);
  margin-bottom: var(--space-big);
}

#mapId {
  height: 250px;
}
