:root {
  /* Color */
  --color-light-grey: #F3F3F3;
  --color-medium-grey: #BFBFBF;
  --color-black: #000000;
  --color-blue: #518BFF;
  --color-yellow: #FFC200;

  /* Space */
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-x-big: 32px;

  /* Font sizes */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-big: 32px;
}
