:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-medium-grey: #bfbfbf;
  --color-black: #000000;
  --color-yellow: #ffc200;
  --color-brown: #a74704;
  --color-blue: #518bff;

  /* Space */
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-x-big: 32px;
  --space-xx-big: 48px;

  /* Font sizes */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-medium-big: 20px;
  --font-size-big: 32px;
  --font-size-x-big: 48px;
}
